# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Build outputs
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# IDE
.idea/
.vscode/

# Misc
*.log